.board-row {
  display: flex;
  align-items: center;
}

.square {
  background-color: white;
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: bold;
  border-width: 1px;
}

.toggle-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.toggle-checkbox {
  display: none;
}

.toggle-label {
  display: inline-block;
  width: 52px;
  height: 28px;
  border-radius: 16px;
  position: relative;
  margin: 0;
  border: 2px solid #474755;
  background: linear-gradient(180deg, #2d2f39 0%, #1f2027 100%);
  cursor: pointer;
}

.toggle-label:after {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: white;
  transition: all 0.2s cubic-bezier(0.5, 0.1, 0.75, 1.35);
}

.toggle-checkbox:checked + .toggle-label:after {
  transform: translateX(24px);
}

.toggle-align {
  display: flex;
  align-items: center;
}
